body {
    font-family: 'JetBrains Mono', sans-serif;
    background-color: #2F2E41;
    color: #ffff;

    min-height: 100vh;
}

#page {
    width: 1000px;
    margin: 71px auto 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 101px; 
    gap: 608px;

}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 64px;
}

a {
    color: #ffff;
    text-decoration: none;
}

/* main */

main {
    display: flex;
    flex-direction: row;
    gap: 82px;

    margin-bottom: 157px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    
    text-align: center;
    margin-bottom: 59px;
}

span {
    color: #00BFA6;
    font-weight: bold;
}

p {
    color: #C2C2C2;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 40px 80px;

    width: 582px;

}

#line {
    border: 1px solid #00BFA6;
    width: 568px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}


#padlock {
    position: fixed;
    left: 0;
    bottom: 0;
}



